body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
h1{
    text-align: center;
}

.title{
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
.title-para{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}

.container-fluid{
    background-image: url("images/ba.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    position: relative;
    padding-top: 20%
}

.heading{
    margin-top: 5%;
    padding-bottom: 4%;

}

.imageAboutPage{
    width: 100%;
    
}

#services{
    
    margin-left: 8%;
    width: 80%;
    line-height: 2;
}

.Servicerow{
   /* margin-right: 0.1%;  */
    margin-bottom:  1% ;  
    
    
}
.Servicerow:hover{
    border: 1px solid #008000;
}
.servicesIcon:hover{
    color: #064eac;
}
.portfolio-title{
    margin-top: 10%;
    margin-bottom: 4%;
    
}

#portfolio{
    margin-left: 7%;
    margin-right: 7%;
}

.portfolio-col:hover{
    color: #008000;
}

.card-title{
    text-align: center;
    padding-bottom: 2%;
}

.contact-title{
    margin-top: 10%;
    margin-bottom: 3%;
}
.map{
    margin-left: 14%;
}

#textarea{
    height: 150px;
    width: 600px;
    border: 1px thin;
}

#name{
    width: 600px;
    height: 60px;
}
#email{
    width: 600px;
    height: 40px;
}
#subject{
    width: 600px;
    height: 40px;
    
}

.contact-btn{
    margin-top: 3%;
}

input::placeholder{
    padding-left: 2%;
}
textarea::placeholder{
    padding-left: 2%;
    padding-top: 2%;
}

.footer{
    text-align: center;
    margin-top: 7%;
    
}
.Social-icons{
    margin: 20px 10px;
}

.Social-icons:hover{
    color: #800000;
}

@media only screen and (max-width: 1200px){
    .form{
        
        margin-left: 8%;
    }
   .map{
    margin-bottom: 5%;
    
   }
}

@media only screen and (max-width: 975px){
    .imageAboutPage{
       padding-bottom: 5%;
    }
    .title{
        margin-top: 100px;
    }
    .title-para{
        margin-top: 25px;
    }
    .row{
        margin-left: 20px;
    }
}
